@model BlogApplication.Models.Emplogin

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}


<form asp-controller="EmpInfoes" asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="EmailId">Email:</label>
        <input asp-for="EmailId" class="form-control" />
        <span asp-validation-for="EmailId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PassCode">PassCode:</label>
        <input asp-for="PassCode" type="password" class="form-control" />
        <span asp-validation-for="PassCode" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>